#marked {
  
}

#marked h1 {
}

#marked pre {
  padding: .5em;
  background-color: #f5f5f5;
  overflow: auto;
}

p > code {
  padding: .2em;
  color: red;
}

code {
  background-color: #f5f5f5;
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
}