div.main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  height: 100%;
}

#toggle-edit-btn {
  font-family: inherit;
}

#toggle-edit-btn[state='on'] {
  background-color: blue;
  
}

#toggle-edit-btn[state='off'] {
  background-color: white;
}

code {
  background-color: #f5f5f5;
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
}

.command-line__input {
  font-size: 1em;
  font-family: inherit;
  background-color: #3CBC8D;
  color: white;
  border: none;
  outline: none;
  /*border-bottom: 2px solid red;*/
  width: 100%;
  padding: .5em .5em;
  margin: 8px 0;
  box-sizing: border-box;
  /*background-color: #f5f5f5;*/
}

#command-line__popup {
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: grey;
  visibility: hidden;
  z-index: 100;
}

.command-line__input:focus + #command-line__popup,
#command-line__popup:focus,
#command-line__popup:hover {
  visibility: visible;
}

.popup__list {
  list-style: none;
  padding-left: 0;
}

.popup__list-item {
  cursor: default;
  padding-left: .5em;
}

.popup__list-item:before {
  content: "> ";
}

.popup__list-item.selected,
.popup__list-item:hover {
  color: white;
}

/*::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}*/

