.panes-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-pane {
    width: 18%;
    background: #ccc;
    position: relative;
}

.right-pane {
    flex: auto;
    background: #eee;
}

.panes-container,
.panes-separator,
.left-pane,
.right-pane {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gutter:hover {
  cursor: move;
}