/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  overflow: hidden;
} 

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -42px;
  right: 0;
  bottom: 0;
  width: 102px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider .slider-comp {
  position: absolute;
  height: 23px;
  bottom: 4px;
}

.slider .slider-md {
  left: 62px;
}

.slider .slider-edit {
  left: 4px;
}

.slider .slider-bar {
  height: 26px;
  width: 10px;
  left: 46px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: orange;
  transform: translateX(42px);
}
